@{
    ViewData["Title"] = "Home Page";
}

<div class="card-img">
    <h1 class="display-4">Welcome</h1>
    <p>This a School Project. Look for more projects at <a href="https://idesigner.se">Idesigner.se</a>.</p>
    <section class="container-fluid d-flex justify-content-center p-2">
        <div class="container">

            <div class="row col-auto justify-content-center">

                <div class="col card text-center m-2" <input type="button" value="Create" onclick="location.href = 'https://localhost:44386/Habits'">
                    <div class="card-header">
                        <h4 class="card-title txt-24">Habits</h4>
                    </div>
                    <div class="card-img">
                        <img class="img-fluid img-thumbnail" src="~/images/bg_img_Habits_xsmaller.jpeg" asp-append-version="true" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">Create a Habit NOW!</p>
                    </div>
                </div>

                <div class="col card text-center m-2" <input type="button" value="Create" onclick="location.href = 'https://localhost:44386/ProgramSets'">
                    <div class="card-header">
                        <h4 class="card-title txt-24">Program</h4>
                    </div>
                    <div class="card-img">
                        <img class="img-fluid img-thumbnail" src="~/images/bg_img_Habits_xsmaller.jpeg" asp-append-version="true" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">Create A Program NOW!</p>
                    </div>
                </div>
                <div class="col card text-center m-2" <input type="button" value="Create" onclick="location.href = 'https://localhost:44386/Articles'">
                    <div class="card-header">
                        <h4 class="card-title txt-24">Article</h4>
                    </div>
                    <div class="card-img">
                        <img class="img-fluid img-thumbnail" src="~/images/bg_img_Habits_xsmaller.jpeg" asp-append-version="true" />
                    </div>
                    <div class="card-body">
                        <p class="card-text">Add An Article!</p>
                    </div>
                </div>



            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
</div>
