@{
    ViewData["Title"] = "Home Page";
}

    <div class="card-img">
        <h1 class="display-4">Welcome</h1>
        <p>School Project and <a href="https://idesigner.se">Idesigner.se is my original website Brand</a>.</p>
        <div>
            <div class="card-img">
            </div>

            <div class="bg-dark">
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            </div>

            <div class="bg-light">
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            </div>
        </div>

    </div>
