@{
    ViewData["Title"] = "Summary";
}
<h1>@ViewData["Title"]</h1>

<p><a href="https://idesigner.se">Idesigner.se</a>. Is my own trade Mark. I see myself as an Appreneur doing integral digital solutions, websites and mobile applications</p>
